/**
 * @file app.css
 * @brief Application style, GTK+ >= 3.19 required
 * @author Shengyu Zhang <i@silverrainz.me>
 * @version 0.06.2
 * @date 2016-05-24
 */

@import url("./reset.css");
@import url("./app-min.css");

/* TODO: css node of custom widget */

/* general {{ */
* { color: @text_color; }

window, box { background-color: @bg_color; }

button * { background-color: transparent; }
button { background-color: @bg_color; padding: 8px; }
button:hover { background-color: @hover_color; transition: 200ms ease-in-out; }
button:active { background-color: @active_color; transition: 200ms ease-in-out; }
button.toggle:checked { background-color: @hover_color; transition: 200ms ease-in-out; }

popover {
    padding: 2px;
    border: 1px solid #bdc3c7;
    border-radius: 2px;
    background-color: @bg_color;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.5);
}

separator {
    color: transparent;
    background-color: @gray_color;
    min-width: 1px;
    min-height: 1px;
}

menuitem { padding: 8px; background-color: @bg_color; }
menuitem:hover { background-color: @hover_color; }

row:hover { background-color: @hover_color; transition: 200ms ease-in-out; }
row:selected,
row:focus { background-color: @active_color; transition: 200ms ease-in-out; }

entry { padding: 8px; }
label link { color: blue; }
label link:visited {color: purple; }
entry selection, label selection { background-color: @selected_text_color; }

/* srollbar {{ */
* {
    -GtkScrollbar-has-backward-stepper: false;
    -GtkScrollbar-has-forward-stepper: false;
}

scrollbar slider {
    margin: 0;
    border-radius: 0;
    border: 0 none transparent;
    background-color: alpha(@fg_color, 0.4);
}

scrollbar { background-color: transparent; transition-duration: 0.2s; }
scrollbar slider:hover { background-color: alpha(@fg_color, 0.4); }
scrollbar slider:active { background-color: alpha(@fg_color, 0.6); }

scrollbar.vertical slider { min-width: 0.75188rem; min-height: 2.40602rem; margin: 0; }
scrollbar.horizontal slider { min-width: 2.40602rem; min-height: 0.75188rem; margin: 0; }
/* }} */

separator {
    color: transparent;
    background-color: @gray_color;
    min-width: 1px;
    min-height: 1px;
}
/* }} */
